.pokemon{
  border: 1px solid hsl(0, 2%, 35%);
  background-color: #8a96ee;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}


.pokemon .image{
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.pokemon .title{
  font: helvetica;
  font-size: 25px;
  margin: 0;
  color: rgb(201, 178, 178);
}

.pokemon .type{
  font: helvetica;
  margin: 10px  5px;
  color: rgb(201, 178, 178);
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 20px;
  color: rgb(246, 211, 211);

}

.pokemon .base ul{
  font: helvetica;
  color: rgb(201, 178, 178);
  border: 1px solid hsl(0, 0%, 80%);
  background-color: #794671;
  font-size: 15px;
  border-radius: 10px;
  list-style-type: none;
  padding: 1%;
  overflow: hidden;
  
}

.pokemon .base li{
  float: inline-start;
  padding: 2px 17px;
  font: 1em sans-serif;
  text-align: center;
  
}